/*body*/
body{
  margin: 0%;
background-color: rgb(249, 151, 14);
}
/*nav bar*/
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3a006;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  
}

ul.topnav li a:hover {background-color: #111;}

ul.topnav li.icon {display: none;}
  /*golden-tabacco*/
  div.gold-tabacco {
    position:absolute;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    top:65%;
    left:29%;
 
  }
  div.gold-tabacco img {
    width: 100%;
    height: auto;
  }
  /*descrizione liquidi*/
  div.desc {
    padding: 15px;
    text-align: center;
  }
/*best-tuscan*/
  div.best-tuscan {
    position:absolute;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    top:65%;
    left: 39%;
  }
  div.best-tuscan img {
    width: 100%;
    height: auto;
  }
  /*bomba-reserve*/
  div.bomba-reserve{
    position:absolute;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    top:65%;
    left: 58%;
  }
  div.bomba-reserve img {
    width: 100%;
    height: auto;
  }
  /*bomba*/
  div.bomba{
    position:absolute;
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    top:65%;
    left: 49%;
  }
  div.bomba img {
    width: 100%;
    height: auto;
  }
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    display: block;
    margin: auto;
 top: 100px;
    
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position:relative;
   right: 2%;
    top: 600px;
  }
  
  .active {
    background-color: #f2680c;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  img.immagine {
    position: absolute;
    left: 20%;
    top: 30%;
  }
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
.titolo{

position:absolute;
right:41%;
}
#top4{
  position: absolute;
  top: 0%;
  width: 100%;
}
#top3{
  position: absolute;
  top: 0%;
  width: 100%;
}
#top1{
  position: absolute;
  top: 0%;
  width: 100%;
}
#topnav2{
  position: absolute;
  top: 0%;
  width: 100%;
}
div.Albicocca {
  position:absolute;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 250px;
  top:15%;
  left:0%;
  height: 31s0px;

}
div.Albicocca img {
  width: 100%;
  height: auto;
}
/*descrizione liquidi*/
div.desc {
  padding: 15px;
  text-align: center;
}
div.Amarena {
  position:absolute;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 250px;
  top:15%;
  left:15%;
  height: 31s0px;

}
div.Amarena img {
  width: 100%;
  height: auto;
}
/*descrizione liquidi*/
div.desc {
  padding: 15px;
  text-align: center;
}
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 30%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  
}

#myUL li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
position : absolute;
top: -140%;
width: 670px;

  
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
  
}
